.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.cards-wrapper > .card-block {
  padding: 1rem;
}

.cards-wrapper—bg-dark {
  background-color: #dce1ea;
}
.cards-wrapper—bg-medium {
  background-color: #e6eaf0;
}
.cards-wrapper—bg-light {
  background-color: #f0f2f7;
}
.cards-wrapper—bg-lighter {
  background-color: #f9fafc;
}