.button {
  width: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.35rem;
  height: 4.6rem;
  background-color: hsl(var(--primary-color));
  border-radius: 0.3rem;
  white-space: nowrap;
  text-align: center;
  font-size: initial;
  font-family: "RobotoMedium";
  user-select: none;
  cursor: pointer;
  overflow: hidden;
}

.button + .button {
  margin-left: 1.6rem;
}

/*BUTTON SIZE*/
.small-btn {
  width: 4.6rem;
}

.medium-btn {
  width: 14rem;
	max-width: 100%;
}

.large-btn {
  width: 100%;
}

.opc-btn {
  background-color: transparent;
  border: 0.15rem solid #dee2eb;
  color: #dee2eb;
}

.button .icon {
  margin-left: 1.85rem;
}

.button-arrow {
  transition: all 150ms ease-in-out;
}

.button:hover .button-arrow {
  transform: translateX(0.5rem);
}

